@font-face {
  font-family: 'iconfont'; /* Project id 3198768 */
  src: url('//at.alicdn.com/t/font_3198768_j44ar6cbgj9.woff2?t=1646377804532')
      format('woff2'),
    url('//at.alicdn.com/t/font_3198768_j44ar6cbgj9.woff?t=1646377804532')
      format('woff'),
    url('//at.alicdn.com/t/font_3198768_j44ar6cbgj9.ttf?t=1646377804532')
      format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
