$dark-fontcolor: #000;
$content-fontcolor: #333;
$medium-fontcolor: #666;
$light-fontcolor: #999;
$content-notice-fontcolor: #777;
$content-bgColor: #f1f1f1;
$search-bgColor: #f5f5f5;
$search-fontcolor: #b7b7b7;
$btn-bgColor: #0091ff;
$hightlight-fontcolor: #e93b3b;
$bgColor: #fff;
